/* Global Style */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {    
    --color-accent: #CF4B4B;
    --color-accent-light: #e05c5c;
}

@plugin "@iconify/tailwind4";

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

.emoji {
    font-family: 'Noto Color Emoji', 'Segoe UI Emoji', 'Apple Color Emoji', sans-serif;
}

.ql-editor ul {
    padding-left: 1em !important; /* default biasanya 1.5em atau 2em */
}
  
  /* Buat ordered list */
.ql-editor ol {
    padding-left: 1em !important;
}
  
  /* Kalau pakai indent level (tab/shift+tab) */
.ql-editor .ql-indent-1 { padding-left: 3em !important; }
.ql-editor .ql-indent-2 { padding-left: 4em !important; }
.ql-editor .ql-indent-3 { padding-left: 5.5em !important; }